@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

body {
	font-family: Garamond;
	font-size: 18px;
	font-weight: 300;
	font-style: normal;
}

/* Make sections BLUE, WIDE, and CENTERED */
#Title, footer, #ConceptSection {
	text-align: center;
	width: 100%;
	background-color: #D0E3EA;
}

.icons {
	width: 300px;
	height: 300px;
	border: solid 3px black;
}



@media screen and (min-width: 768px){
	
	#BannerImage {
		width: 100%;
		background-image: url("../IMG/background.png");
		background-repeat: no-repeat;
		min-height: 500px;
		background-position: center;
	}
}